.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
}
.errorImg {
  width: 320px;
  max-width: 60%;
}
.errorTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-primary);
  margin: 0;
}
.errorDesc {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-muted);
  margin: 0;
}
